.container {
    width: 70%;
    margin: auto;
    font-size: medium;
}

h1 {
    text-align: center;
    font-size: 2rem;
}

#abertura {
    text-align: end;
    margin-right: .5rem;
    margin-top: .5rem;
}

#fechamento {
    text-align: end;
    margin-right: .5rem;
}

#dados {
    margin-left: .5rem;
}

button {
    width: 100%;
    margin-top: .5rem;
}